bin/
include/
lib64/
build/
lib/
share/
llama.cpp/
training/
share/
dist/
_unsloth_sentencepiece_temp/
unsloth_compiled_cache/
src/llama.cpp/
src/n8n_assistant_model/
src/n8n_assistant_model_gguf/
src/n8n_assistant_model_merged/
src/ollama_model/
src/__pycache__
src/unsloth_compiled_cache
lib64
pyvenv.cfg
.env
